.navbar-nav {
    margin-left: auto;
}
.navbar-color{
    background-color: darkgray;
    background-blend-mode: lighten;
}
.header1 {
    background-image: url("./bg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    object-fit: cover;
    height:inherit;
    width: inherit;
}
.header1 img {
    opacity: 0.5;
}
body{
    background-color:rgb(255, 255, 255);
}
/* .navbar-bg{
    background-color:rgb(243, 0, 0);
    background-blend-mode: lighten;
} */